* { margin:0; padding:0; }
html { height:100%; }
body { min-height:100%; height:100%; position:relative; }
* html body { height:100%; }
img { border:0; }
fieldset { padding:0; border:0; margin-top:25px; }

.chartControl {
    padding: 10px;
}

#series + .ui-selectmenu-button{
    vertical-align : middle;
}

.pageSelector {
    width: 50px;
}

.chartControlLabel {
    display:inline-block;
    width: 5em;
}

.validateTips {
    border: 1px solid transparent;
    margin-top: 0.5em;
}

#rename-series-dialog {
    font-size: 70%;
}

#rename-series-title {
    width:350px;
    margin-top:1em;
}
